/* Declaring Variables */
:root {
    /* Colors */
    --default-light: #fff;
    --default-dark: #000;
    --default-accent:#424949;
    --default-fade: #cacfd2;
    --sidebar-shadow-color: rgba(0, 0, 0, 0.15);
    --search-bar-shadow-color: rgba(111, 100, 106, 0.2);

    /* Fonts */
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Roboto", sans-serif;
    --body-size: 0.7rem;
    --accented-body-size: 0.8rem;
    --h1-size: 94px;
    --h2-size: 1.4rem;
    --h3-size: 1.2rem;
    --p-size: 18px;
    --label-size: 0.7rem;
    --filter-factor-font: 0.7rem;
    --list-item-size: 1.2rem;

    /* Spacings */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --h1-height: 108px;
    --h2-height: 75px;
    --h3-height: 70px;
    --p-height: 26px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--body-size);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    line-height: var(--h1-height);
}

h2 {
    font-family: var(--heading-font);
    font-size: var(--h2-size);
    line-height: var(--h2-height);
}

h3 {
    font-family: var(--heading-font);
    font-size: var(--h3-size);
}

a {
    text-decoration: none;
    color: var(--default-dark);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    background-color: var(--default-light);
    color: var(--default-accent);
    align-content: center;
    border: none;
    font-family: var(--heading-font);
    font-size: var(--body-size);
    font-weight: bold;
    padding: 0;
    transition: all 0.15s ease;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: var(--accented-body-size);
    color: var(--default-dark);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0;
}

.header {
    text-align: center;
}

.basic-page-layout {
    height: 600px;
}

#map {
    height: 600px;
    width: 100%;
}

.empty-space {
    height: 100px;
}

.two-column-section {
    display: flex;
    width: 100%;
    height: 100%
}

.sidebar {
    width: 150px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: var(--sidebar-shadow-color) 1.95px 1.95px 2.6px;
    background-color: var(--default-light);
}

.two-column-section .sidebar .sidebar-tab {
    padding: 15px;
}

.sidebar-tab.active {
    color: var(--default-accent);
    text-decoration: underline;
    font-size: var(--accented-body-size);
}

.two-column-section .right-column {
    display: flex;
    flex-direction: column;
    width: calc(100% - 150px);
    box-sizing: border-box;
    margin: var(--spacing-sm) 0 0 var(--spacing-sm);
    border-radius: var(--spacing-sm);
    box-shadow: var(--search-bar-shadow-color) 0px 7px 29px 0px;
    background-color: var(--default-light);
    padding: 5px;
    position: relative;
}

.two-column-section .sidebar-tab-column {
    display: flex;
    flex-direction: column;
    width: calc(100% - 150px);
    box-sizing: border-box;
    margin: var(--spacing-sm) 0 0 var(--spacing-sm);
    border-radius: var(--spacing-sm);
    box-shadow: var(--search-bar-shadow-color) 0px 7px 29px 0px;
    background-color: var(--default-light);
    padding: var(--spacing-sm);
    position: relative;
}

.two-column-section .sidebar-tab-column .sidebar-tab-header {
    font-family: var(--heading-font);
    font-size: var(--h2-size);
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.two-column-section .sidebar-tab-column::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--sidebar-shadow-color);
    position: absolute;
    top: 65px;
    left: 0;
}

.filter-card {
    padding: var(--spacing-sm) 0;
    border-bottom: 1px solid var(--search-bar-shadow-color);
}

.filter-card:last-of-type {
    border-bottom: none;
}

.filter-card .factor {
    font-family: var(--heading-font);
    font-size: var(--filter-factor-font);
    font-weight: bold;
}

.filter-card .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--spacing-sm) 0;
}

.filter-card .options .option {
    display: flex;
    align-items: center;
    width: 30%;
    font-size: var(--body-size);
    margin: var(--spacing-sm) 0;
}

.filter-card .options .option input[type="checkbox"],
.filter-card .options .option label {
    cursor: pointer;
}

.place-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--body-font);
    font-size: var(--body-size);
    padding: var(--spacing-sm) 0;
    border-bottom: 1px solid var(--sidebar-shadow-color);
}

.place-card .place-name {
    font-family: var(--heading-font);
    font-size: var(--h3-size);
    font-weight: bold;
}

.place-card .details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    margin: var(--spacing-sm) 0;
}

.place-card .details .rating {
    display: flex;
    align-items: center;
}

.place-card .details .rating img {
    height: 15px;
    width: 50px;
}

.place-card .details .distance {
    color: var(--default-fade);
}

.place-card .details > div {
    width: 50%;
    box-sizing: border-box;
    margin: var(--spacing-sm) 0;
}

.with-additional-details .additional-details-headings {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-sm) 0;
}

.with-additional-details .additional-details-headings .heading.active {
    border-bottom: 2px solid var(--default-accent);
}

.trend-event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--body-font);
    font-size: var(--body-size);
    padding: var(--spacing-sm) 0;
    border-bottom: 1px solid var(--sidebar-shadow-color);
}

.trend-event-card .place-name {
    font-family: var(--heading-font);
    font-size: var(--h3-size);
    font-weight: bold;
}

.trend-event-card .details {
    display: flex;
    align-items: center;
    width: 300px;
    margin: var(--spacing-sm) 0;
}

.trend-event-card .details .distance {
    color: var(--default-fade);
}

.trend-event-card .details > div {
    width: 50%;
    box-sizing: border-box;
    margin: var(--spacing-sm) 0;
}

.trend-food-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--body-font);
    font-size: var(--body-size);
    padding: var(--spacing-sm) 0;
    border-bottom: 1px solid var(--sidebar-shadow-color);
}

.label {
    position: absolute;
    display: inline-flex;
    align-items: center;
    z-index: -1;
}

.label .icon {
    height: 30px;
    width: 30px;
}

.label .icon, .label .place-name {
    margin: 0 2px;
}

.with-text .place-name {
    font-size: var(--label-size);
}

.current-location {
    top: 70%;
    left: 50%;
}

.dropdown {
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing-sm);
}

/* Styling Main Page */
.main-page .food {
    top: 50%;
    left: 40%;
}

.main-page .trending {
    top: 60%;
    left: 30%
}

.main-page .search-container {
    height: 100%;
}

.main-page .search-bar {
    position: relative;
    padding: var(--spacing-sm) 0 var(--spacing-sm) var(--spacing-sm);
    background-color: var(--default-light);
}

.main-page .search-input {
    width: calc(100% - 60px);
    border: none;
}

.main-page .search-bar .search-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 20px;
}

.main-page .search-container .search-button:hover {
    cursor: pointer;
}

.main-page .search-bar img {
    height: 20px;
    width: 20px;
}


.main-page .search-input:focus {
    outline: none;

}

/* Styling After Clicking Search Bar */
.after-clicking-search-bar .food {
    top: 50%;
    left: 40%;
}

.after.after-clicking-search-bar .trending {
    top: 60%;
    left: 30%
}

.after-clicking-search-bar .search-container {
    height: 50px;
}

.after-clicking-search-bar .search-bar {
    position: relative;
    padding: var(--spacing-sm) 0 var(--spacing-sm) var(--spacing-sm);
    background-color: var(--default-light);
}

.after-clicking-search-bar .search-input {
    width: calc(100% - 60px);
    border: none;
}

.after-clicking-search-bar .search-bar .search-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 20px;
}

.after-clicking-search-bar .search-container .search-button:hover {
    cursor: pointer;
}

.after-clicking-search-bar .search-bar img {
    height: 20px;
    width: 20px;
}

.after-clicking-search-bar .search-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 40px;
    left: 0;
    background-color: var(--search-bar-shadow-color);
}

.after-clicking-search-bar .search-dropdown .filter-button {
    color: #85c1e9;
    text-decoration: underline;
    margin: var(--spacing-sm) 0;
}

.after-clicking-search-bar  .search-dropdown .past-search {
    margin: var(--spacing-sm) 0;
}

.after-clicking-search-bar .search-dropdown .filter-button:hover {
    cursor: pointer;
}

/* Styling After Clicking Filter */
.after-clicking-filter .food {
    top: 50%;
    left: 40%;
}

.after-clicking-filter .trending {
    top: 60%;
    left: 30%
}

.after-clicking-filter .search-container {
    height: 310px;
}

.after-clicking-filter .search-bar {
    position: relative;
    padding: var(--spacing-sm) 0 var(--spacing-sm) var(--spacing-sm);
    background-color: var(--default-light);
}

.after-clicking-filter .search-input {
    width: calc(100% - 60px);
    border: none;
}

.after-clicking-filter .search-bar .search-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 20px;
}

.after-clicking-filter .search-container .search-button:hover {
    cursor: pointer;
}

.after-clicking-filter .search-bar img {
    height: 20px;
    width: 20px;
}

.after-clicking-filter .search-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 40px;
    left: 0;
    background-color: var(--search-bar-shadow-color);
}

/* Styling After Clicking Saved */
.after-clicking-saved .food {
    top: 50%;
    left: 40%;
}

.after-clicking-saved .trending {
    top: 60%;
    left: 30%
}

.after-clicking-saved .saved-section {
    height:270px;
}

.after-clicking-saved .saved-section .add-list-button {
    font-size: 0.8rem;
    text-align: end;
}

.after-clicking-saved .saved-section .list-item {
    display: block;
    height: 100%;
    width: 100%;
    padding: var(--spacing-md) 0;
    font-size: var(--list-item-size);
    transition: all 0.15s ease;
}

.after-clicking-saved .saved-section .list-item:hover {
    background-color: var(--default-fade);
}

/* Styling After Clicking List Item */
.after-clicking-list-item .map-background #food1 {
    top: 50%;
    left: 60%;
}

.after-clicking-list-item .map-background #food2 {
    top: 60%;
    left: 70%;
}

.after-clicking-list-item .map-background #food3 {
    top: 80%;
    left: 50%;
}

.after-clicking-list-item .saved-section .place-card:last-of-type {
    border-bottom: none;
}

.after-clicking-list-item .saved-section {
    height: 520px;
}

/* Styling After Clicking Recommended */
.after-clicking-recommended .map-background #food1 {
    top: 50%;
    left: 60%;
}

.after-clicking-recommended .map-background #food2 {
    top: 60%;
    left: 70%;
}

.after-clicking-recommended .map-background #food3 {
    top: 80%;
    left: 50%;
}

.after-clicking-recommended .recommended-section .place-card:last-of-type {
    border-bottom: none;
}

.after-clicking-recommended .recommended-section {
    height: 520px;
}

/* Styling After Clicking Trends */
.after-clicking-trends #trend1 {
    top: 50%;
    left: 60%;
}

.after-clicking-trends #trend2 {
    top: 70%;
    left: 80%;
}

.after-clicking-trends #trend3 {
    top: 80%;
    left: 50%;
}

.after-clicking-trends .toggle {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-sm) 0;
}

.after-clicking-trends .toggle .heading{
    font-size: 11.2px;
    font-family: var(--body-font);
}

.after-clicking-trends .toggle .heading.active {
    border-bottom: 2px solid var(--default-accent);
}

.after-clicking-trends .trends-section .trend-event-card:last-of-type {
    border-bottom: none;
}

/* Styling After Clicking Food Trends */
.after-clicking-food-trends .trends-section {
    height: 420px;
}

.after-clicking-food-trends .toggle {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-sm) 0;
}

.after-clicking-food-trends .toggle .heading{
    font-size: 11.2px;
    font-family: var(--body-font);
}

.after-clicking-food-trends .toggle .heading.active {
    border-bottom: 2px solid var(--default-accent);
}
.after-clicking-food-trends .trends-section .trend-food-card:last-of-type {
    border-bottom: none;
}

.after-clicking-food-trends #trend1 {
    top: 50%;
    left: 60%;
}

.after-clicking-food-trends #trend2 {
    top: 70%;
    left: 80%;
}

.after-clicking-food-trends #trend3 {
    top: 80%;
    left: 50%;
}

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #search-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #search-input:focus {
    border-color: #4d90fe;
  }