<h2 class="header">After Clicking Recommended</h2>
    <section class="after-clicking-recommended basic-page-layout">
        <div class="map-background">
            <span class="label current-location">
                <img src="images/current-location.jpeg" alt="current-location-icon" class="icon">
                <span class="place-name">start here</span>
            </span>

            <span class="label with-text food" id="food1">
                <img src="images/food-location.png" alt="food-location-icon" class="icon">
                <span class="place-name">food here</span>
            </span>

            <span class="label with-text food" id="food2">
                <img src="images/food-location.png" alt="food-location-icon" class="icon">
                <span class="place-name">food here</span>
            </span>

            <span class="label with-text food" id="food3">
                <img src="images/food-location.png" alt="food-location-icon" class="icon">
                <span class="place-name">food here</span>
            </span>
        </div>

        <div class="miscellanous two-column-section">
            <div class="sidebar">
                <button class="sidebar-tab">Saved</button>
                <button class="sidebar-tab active">Recommendations</button>
                <button class="sidebar-tab">Trends</button>
            </div>
        
            <div class="recommended-section sidebar-tab-column">
                <h2 class="sidebar-tab-header">Recommended</h2>
                <div class="place-card with-additional-details">
                    <h3 class="place-name">First place</h3>
                    <div class="details">
                        <div class="rating">
                            <span class="number-of-stars">4.5</span>
                            <img src="images/stars.png" alt="star-rating">
                            <span class="number-of-reviews">(700)</span>
                        </div>
                        <div class="price-range">$$</div>
                        <div class="distance">4.3km away</div>
                    </div>

                    <div class="additional-details-headings">
                        <h4 class="heading">Overview</h4>
                        <h4 class="heading active">Details</h4>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam deleniti quis distinctio rem, non nisi? Culpa corrupti sequi soluta sed doloremque laborum sapiente blanditiis illo nostrum tempore ratione, ab reiciendis.
                    </p>
                </div>

                <div class="place-card">
                    <h3 class="place-name">Second place</h3>
                    <div class="details">
                        <div class="rating">
                            <span class="number-of-stars">4.4</span>
                            <img src="images/stars.png" alt="star-rating">
                            <span class="number-of-reviews">(300)</span>
                        </div>
                        <div class="price-range">$</div>
                        <div class="distance">4km away</div>
                    </div>
                </div>

                <div class="place-card">
                    <h3 class="place-name">Third place</h3>
                    <div class="details">
                        <div class="rating">
                            <span class="number-of-stars">4</span>
                            <img src="images/stars.png" alt="star-rating">
                            <span class="number-of-reviews">(400)</span>
                        </div>
                        <div class="price-range">$</div>
                        <div class="distance">4.5km away</div>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <div class="empty-space"></div>