<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<h2 class="header">After Clicking Search Bar</h2>
    <section class="after-clicking-search-bar basic-page-layout">
        <div class="map-background">
            <span class="label current-location">
                <img src="images/current-location.jpeg" alt="current-location-icon" class="icon">
                <span class="place-name">start here</span>
            </span>

            <span class="label with-text food">
                <img src="images/food-location.png" alt="food-location-icon" class="icon">
                <span class="place-name">food here</span>
            </span>

            <span class="label with-text trending">
                <img src="images/trending-location.png" alt="trending-location-icon" class="icon">
                <span class="place-name">trending here</span>
            </span>
        </div>
        <div class="miscellanous two-column-section">
            <div class="sidebar">
                <button class="sidebar-tab">Saved</button>
                <button class="sidebar-tab">Recommendations</button>
                <button class="sidebar-tab">Trends</button>
            </div>

            <form action="" class="search-container right-column">
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Search here">
                    <button class="search-button">
                        <img src="images/magnifying-glass.png" alt="magnifying-glass">
                    </button>
                </div>

                <div class="search-dropdown dropdown">
                    <a class="filter-button">Filter</a>
                    <span class="past-search">Past Search 1</span>
                    <span class="past-search">Past Search 2</span>
                    <span class="past-search">Past Search 3</span>
                </div>
            </form>
        </div>
    </section>
    <div class="empty-space"></div>