<%- include('partials/head') %>

<section class="after-clicking-saved basic-page-layout">
    <div class="map-background">
        <span class="label current-location">
            <img src="images/current-location.jpeg" alt="current-location-icon" class="icon">
            <span class="place-name">start here</span>
        </span>

        <span class="label with-text food">
            <img src="images/food-location.jpg" alt="food-location-icon" class="icon">
            <span class="place-name">food here</span>
        </span>

        <span class="label with-text trending">
            <img src="images/trending-location.jpg" alt="trending-location-icon" class="icon">
            <span class="place-name">trending here</span>
        </span>
    </div>

    <div class="miscellanous two-column-section">
        <div class="sidebar">
            <button class="sidebar-tab active">Saved</button>
            <button class="sidebar-tab">Recommendations</button>
            <button class="sidebar-tab">Trends</button>
        </div>

        <div class="saved-section sidebar-tab-column">
            <h2 class="sidebar-tab-header">Saved</h2>
            <a href="#" class="add-list-button">+ Add New List</a>
            <ul>
                <li><a href="#" class="list-item">List 1</a></li>
                <li><a href="#" class="list-item">List 2</a></li>
                <li><a href="#" class="list-item">List 3</a></li>
            </ul>
        </div>
    </div>
</section>

<%- include('partials/footer') %>