/* Declaring Variables */
:root {
    /* Colors */
    --default-light: #fff;
    --default-dark: #000;
    --default-accent:#424949;
    --default-fade: #cacfd2;
    --sidebar-shadow-color: rgba(0, 0, 0, 0.15);
    --search-bar-shadow-color: rgba(111, 100, 106, 0.2);

    /* Fonts */
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Roboto", sans-serif;
    --body-size: 0.7rem;
    --accented-body-size: 0.8rem;
    --h1-size: 94px;
    --h2-size: 1.4rem;
    --h3-size: 1.2rem;
    --p-size: 18px;
    --label-size: 0.7rem;
    --filter-factor-font: 0.7rem;
    --list-item-size: 1.2rem;

    /* Spacings */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --h1-height: 108px;
    --h2-height: 75px;
    --h3-height: 70px;
    --p-height: 26px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--body-size);
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    line-height: var(--h1-height);
}

h2 {
    font-family: var(--heading-font);
    font-size: var(--h2-size);
    line-height: var(--h2-height);
}

h3 {
    font-family: var(--heading-font);
    font-size: var(--h3-size);
}

a {
    text-decoration: none;
    color: var(--default-dark);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    background-color: var(--default-light);
    color: var(--default-accent);
    align-content: center;
    border: none;
    font-family: var(--heading-font);
    font-size: var(--body-size);
    font-weight: bold;
    padding: 0;
    transition: all 0.15s ease;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: var(--accented-body-size);
    color: var(--default-dark);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0;
}

#map {
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

#pac-card {
    background-color: var(--default-light);
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--spacing-sm);
    box-shadow: var(--search-bar-shadow-color) 0px 7px 29px 0px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#pac-container {
    margin: 10px 0;
}

#filter-container {
    margin: 5px 0;
}

#filter-container .filter-card {
    margin: 3px 0;
}

#filter-container .filter-card h4{
    margin-bottom: 5px;
}

#filter-container .filter-card .options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filter-container .filter-card .options input{
    margin-left: 10px;
}

#close-dropdown-button {
    margin-top: 5px;
}

#dropdown-text {
    color: var(--default-accent);
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    padding: 3px 0;
}

.tabs button.active {
    border-bottom: 2px solid var(--default-fade);
  }